name: Claude Code

on:
  issue_comment:
    types: [created]
  pull_request_review_comment:
    types: [created]
  issues:
    types: [opened, assigned, labeled]

jobs:
  claude:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      issues: write
    steps:
      - uses: anthropics/claude-code-action@v1
        with:
          anthropic_api_key: $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
